<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>BuildPress | We Build Structures &amp; Relationships to Last</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
<!--			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>-->
		<![endif]-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400,700%3Alatin%7CMontserrat%3A700%3Alatin"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/prettyPhoto.css"/>
	
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/isotope.js"></script>
	<script type="text/javascript" src="js/imagesloaded.js"></script>
	<script type="text/javascript" src="js/modernizr.custom.24530.js"></script>

</head>
<body class="home page">
<div th:text="${about}" >Дата</div>
<div ><h1 th:text="${test2}"></h1></div>

<div class="boxed-container">

	<header class="header" th:include="header.html::header"/>
	<div class="main-title" style="background-color: #f2f2f2">
		<div class="container">
			<h1 class="main-title__primary">About Us</h1>
			<h3 class="main-title__secondary">A LITTLE SOMETHING ABOUT US</h3>
		</div>
	</div>
	<div class="breadcrumbs ">
		<div class="container">
			<span typeof="v:Breadcrumb"><a title="Go to BuildPress." href="index.html" class="home">BuildPress</a></span>
			<span typeof="v:Breadcrumb"><span>About Us</span></span>	
		</div>
	</div>
	<div class="master-container">
		<div class="container">
			<div class="row">
				<main class="col-xs-12" role="main">
					<div class="row">
						<div class="col-md-6">
							<p>BuildPress Inc traces its roots back to 1989 in Colorado and since then have never looked back. With thousands of 
							successful projects under our belt, we can proudly say that we are one of the most trusted construction companies in 
							Colorado performing both domestic and international construction work.</p>
							<p>For more than 25 years, Construction has offered a wide range of construction services in Colorado, many other cities 
							of United States and around the world. We strive to maintain the highest standards while exceeding client’s expectations 
							at all levels. We not only honor commitments, but are known for meeting tough deadlines while delivering nothing but the 
							best. We aim to create a responsive client relationship that allows us to meet and even exceed the goals of each of our
							projects.</p>
							<p>BuildPress Inc is well known for its innovation and by collaborating successfully with our customers, designers, 
							sub-contractors, consultants as well as suppliers; we have been able to provide more specialized level of services. 
							We are continuously evolving and understand the different aspects of delivering high value construction and complex 
							projects with ease.</p>
						</div>
						<div class="col-md-6">
							<p>
								<a href="images/demo/projects/project1.jpg" data-rel="prettyPhoto" title="Project Image">
									<img src="images/demo/projects/medium1.jpg" class="alignnone" alt="Project Image" />
								</a>
							</p>
						</div>
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="col-md-3">
							<h4>
								<a href="images/demo/about/about_us_1.jpg" data-rel="prettyPhoto" title="Member name">
									<img src="images/demo/about/about_us_1.jpg" class="alignleft" alt="About Us 1" width="526" height="350"/>
								</a>
							</h4>
							<h5>GEORGE QUICK</h5>
							<p><em>CEO and Board Member</em></p>
							<p>
								Ut lobortis magna tortor, nec porttitor turpis porta in. Donec a felis sed ligula aliquet sollicitudin a in elit. 
								Nunc at commodo erat, fringilla egestas tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
								posuere cubilia Curae.
							</p>
						</div>
						<div class="col-md-3">
							<h4>
								<a href="images/demo/about/about_us_7.jpg" data-rel="prettyPhoto" title="Member name">
									<img src="images/demo/about/about_us_7.jpg"  class="alignleft" alt="About Us 2" width="526" height="350"/>
								</a>
							</h4>
							<h5>SAMANTHA FOX</h5>
							<p><em>Chief Accountant Manager</em></p>
							<p>
								Ut lobortis magna tortor, nec porttitor turpis porta in. Donec a felis sed ligula aliquet sollicitudin a in elit. 
								Nunc at commodo erat, fringilla egestas tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
								posuere cubilia Curae.
							</p>
						</div>
						
						<div class="col-md-3">
							<h4>
								<a href="images/demo/about/about_us_3.jpg" data-rel="prettyPhoto" title="Member name">
									<img src="images/demo/about/about_us_3.jpg" class="alignleft" alt="About Us 3" width="526" height="350"/>
								</a>
							</h4>
							<h5>JEREMY HENDRIXON</h5>
							<p><em>CTO and Finance Manager</em></p>
							<p>
								Ut lobortis magna tortor, nec porttitor turpis porta in. Donec a felis sed ligula aliquet sollicitudin a in elit. 
								Nunc at commodo erat, fringilla egestas tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
								posuere cubilia Curae.
							</p>
						</div>
						<div class="col-md-3">
							<h4>
								<a href="images/demo/about/about_us_8.jpg" data-rel="prettyPhoto" title="Member name">
									<img src="images/demo/about/about_us_8.jpg" class="alignleft" alt="About Us 4" width="526" height="350"/>
								</a>
							</h4>
							<h5>WILLIAM WASHINGTON</h5>
							<p><em>CEO and Board Member</em></p>
							<p>
								Ut lobortis magna tortor, nec porttitor turpis porta in. Donec a felis sed ligula aliquet sollicitudin a in elit. 
								Nunc at commodo erat, fringilla egestas tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
								posuere cubilia Curae.
							</p>
						</div>
					</div>	
					<div class="spacer"></div>
					<div class="row">
						<div class="col-md-3">
							<h4>
								<a href="images/demo/about/about_us_5.jpg" data-rel="prettyPhoto" title="Member name">
									<img src="images/demo/about/about_us_5.jpg" class="alignleft" alt="About Us 5" width="526" height="350"/>
								</a>
							</h4>
							<h5>REBECCA RAMIREZ</h5>
							<p><em>Chief Accountant Manager</em></p>
							<p>
								Ut lobortis magna tortor, nec porttitor turpis porta in. Donec a felis sed ligula aliquet sollicitudin a in elit. 
								Nunc at commodo erat, fringilla egestas tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
								posuere cubilia Curae.
							</p>
						</div>
						<div class="col-md-3">
							<h4>
								<a href="images/demo/about/about_us_4.jpg" data-rel="prettyPhoto" title="Member name">
									<img src="images/demo/about/about_us_4.jpg" class="alignleft" alt="About Us 6" width="526" height="350"/>
								</a>
							</h4>
							<h5>GEORGE QUICK</h5>
							<p><em>CEO and Board Member</em></p>
							<p>
								Ut lobortis magna tortor, nec porttitor turpis porta in. Donec a felis sed ligula aliquet sollicitudin a in elit. 
								Nunc at commodo erat, fringilla egestas tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
								posuere cubilia Curae.
							</p>
						</div>
						<div class="col-md-3">
							<h4>
								<a href="images/demo/about/about_us_2.jpg" data-rel="prettyPhoto" title="Member name">
									<img src="images/demo/about/about_us_2.jpg" class="alignleft" alt="About Us 7" width="526" height="350"/>
								</a>
							</h4>
							<h5>WILLIAM DOE</h5>
							<p><em>Public Relations</em></p>
							<p>
								Ut lobortis magna tortor, nec porttitor turpis porta in. Donec a felis sed ligula aliquet sollicitudin a in elit. 
								Nunc at commodo erat, fringilla egestas tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
								posuere cubilia Curae.
							</p>
						</div>
						<div class="col-md-3">
							<h4>
								<a href="images/demo/about/about_us_6.jpg" data-rel="prettyPhoto" title="Member name">
									<img src="images/demo/about/about_us_6.jpg" class="alignleft" alt="About Us 8" width="526" height="350"/>
								</a>
							</h4>
							<h5>JEREMY HENDRIXON</h5>
							<p><em>CTO and Finance Manager</em></p>
							<p>
								Ut lobortis magna tortor, nec porttitor turpis porta in. Donec a felis sed ligula aliquet sollicitudin a in elit. 
								Nunc at commodo erat, fringilla egestas tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
								posuere cubilia Curae.
							</p>
						</div>
					</div>	
				</main>
			</div>
		</div><!-- /container -->
	</div>

	<footer th:include="footer.html::footer"/>

</div><!-- end of .boxed-container -->

<script type="text/javascript" src="js/almond.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>

<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/header_carousel.js"></script>
<script type="text/javascript" src="js/sticky_navbar.js"></script>
<script type="text/javascript" src="js/simplemap.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>