<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<header class="header" th:fragment="header">
    <div class="container">
        <div class="logo" >
            <a href="index.html">
                <img src="images/logo.png" alt="BuildPress" class="img-responsive"/>
            </a>
        </div>
        <div class="header-widgets  header-widgets-desktop">
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-phone  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">(+37529)162-24-57</h4>
                        <span class="icon-box__subtitle">info@buildpress.com</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa fa-home fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">Минская улица</h4>
                        <span class="icon-box__subtitle">г. Логойск, 223141 </span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-clock-o  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">Пн-Сб 8.00 - 18.00</h4>
                        <span class="icon-box__subtitle">Воскресенье </span>
                    </div>
                </div>
            </div>
            <!--                <div class="widget  widget-social-icons">-->
            <!--                    <a class="social-icons__link" href="#" target="_blank"><i class="fa  fa-facebook"></i></a>-->
            <!--                    <a class="social-icons__link" href="#" target="_blank"><i class="fa  fa-twitter"></i></a>-->
            <!--                    <a class="social-icons__link" href="#" target="_blank"><i class="fa  fa-youtube"></i></a>-->
            <!--                </div>-->
        </div>
        <!-- Toggle Button for Mobile Navigation -->
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#buildpress-navbar-collapse">
            <span class="navbar-toggle__text">MENU</span>
            <span class="navbar-toggle__icon-bar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</span>
        </button>
    </div>
    <div class="sticky-offset js-sticky-offset"></div>
    <div class="container">
        <div class="navigation">
            <div class="collapse  navbar-collapse" id="buildpress-navbar-collapse">
                <ul id="menu-main-menu" class="navigation--main">
                    <li class="current-menu-item"><a href="index.html">Главная</a></li>
                    <li><a href="projects.html">Портфолио</a></li>
                    <li class="menu-item-has-children">
                        <a href="services.html">Услуги</a>
                        <ul class="sub-menu">
                            <li><a href="services-content/construction-management.html">Construction Management</a>
                            </li>
                            <li><a href="services-content/design-and-build.html">Design and Build</a></li>
                            <li><a href="services-content/kitchen-remodeling.html">Kitchen Remodeling</a></li>
                            <li><a href="services-content/tiling-and-painting.html">Tiling and Painting</a></li>
                            <li><a href="services-content/condo-remodeling.html">Condo Remodeling</a></li>
                            <li><a href="services-content/hardwood-flooring.html">Hardwood Flooring</a></li>
                            <li><a href="services.html">All Services</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">Немного обо мне</a></li>
                    <li><a href="blog.html">Блог</a></li>
                    <li><a href="shop.html">SHOP</a></li>
                    <li><a href="contact-us.html">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header-widgets  hidden-md  hidden-lg">
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-phone  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">1-888-123-4567</h4>
                        <span class="icon-box__subtitle">info@buildpress.com</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-home  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">227 Marion Street</h4>
                        <span class="icon-box__subtitle">Columbia, SC 29201</span>
                    </div>
                </div>
            </div>
            <div class="widget  widget-icon-box">
                <div class="icon-box">
                    <i class="fa  fa-clock-o  fa-3x"></i>
                    <div class="icon-box__text">
                        <h4 class="icon-box__title">Mon - Sat 8.00 - 18.00</h4>
                        <span class="icon-box__subtitle">Sunday CLOSED</span>
                    </div>
                </div>
            </div>
            <!--                <div class="widget  widget-social-icons">-->
            <!--                    <a class="social-icons__link" href="#" target="_blank"><i class="fa fa-facebook"></i></a>-->
            <!--                    <a class="social-icons__link" href="#" target="_blank"><i class="fa fa-twitter"></i></a>-->
            <!--                    <a class="social-icons__link" href="#" target="_blank"><i class="fa fa-youtube"></i></a>-->
            <!--                </div>-->
        </div>
    </div>
</header>
</body>
</html>